<header class="header">
    <div class="header__container">
        <div class="content">
            <div class="menu_burger"></div>
            <div class="logo">MONDAY</div>
            <div class="lang_switcher">
                <img src="assets/images/globus.png" alt="" class="switcher_icon">
                <div class="switcher_title">UZ</div>
                <img src="assets/images/arrow_icon.png" alt="" class="switcher_arrow">
            </div>
            <div class="input_block">
                <input type="text" class="input" placeholder="Search for services...">
                <div class="input_icon_block">
                    <img src="assets/images/lupa_icon.png" alt="" class="input_icon">
                </div>
            </div>
            <nav class="main_menu">
                <div class="menu_item">
                    <div class="item_text">Orders</div>
                </div>
                <div class="menu_item">
                    <div class="item_text">Projects</div>
                </div>
                <div class="menu_item">
                    <div class="item_text">Sellers</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/lovely_icon.png" alt="" class="item_icon">
                    <div class="item_text">Favorites</div>
                </div>
                <div class="menu_item">
                    <div class="item_text">Orders</div>
                </div>
            </nav>
            <nav class="options_menu">
                <div class="menu_item">
                    <img src="assets/images/busket_icon.png" alt="" class="item_icon">
                    <div class="item_counter blue">2</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/message_box_icon.png" alt="" class="item_icon">
                    <div class="item_counter red">12</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/busket_icon.png" alt="" class="item_icon">
                    {{!-- <div class="item_counter">2</div> --}}
                </div>
            </nav>
            <div class="user_menu">
                <div class="wallet_button">
                    <img src="assets/images/wallet_icon.png" alt="" class="wallet_icon">
                </div>
                <div class="user_avatar">
                    <img src="assets/images/avatar.png" alt="" class="user_image">
                    <div class="user_status"></div>
                </div>
                <div class="menu_icon">
                    <img src="assets/images/arrow_dark_icon.png" alt="" class="menu_image">
                </div>
            </div>
        </div>
        <div class="services_block">
            <div class="horizontal_menu">
                <div class="horizonal_item">Social & SMM</div>
                <div class="horizonal_item">SEO</div>
                <div class="horizonal_item">Copywriting</div>
                <div class="horizonal_item">Web Development</div>
                <div class="horizonal_item">Scripts & Telegram Bots</div>
                <div class="horizonal_item">Logotypes & Branding</div>
                <div class="horizonal_item">Web & Mobile Design</div>
                <div class="horizonal_item">Scripts & Bots</div>
            </div>
            <div class="dropdown_menu">
                <div class="dropdown_title">All Services</div>
                <img src="assets/images/arrow_icon.png" alt="" class="dropdown_arrow">
            </div>
        </div>
    </div>
</header>