<main class="main">
    {{> Header/header}}
    <div class="main_content">
        <div class="main_bg">
            <img src="assets/images/banner.png" alt="" class="bg_image">
        </div>
        <div class="main__container">
            <div class="blocks_block">
                <div class="left_block">
                    <div class="left_info">
                        <div class="avatar_block">
                            <div class="avatar_circle">
                                <img src="" alt="" class="avatar_image">
                            </div>
                            <div class="avatar_button">
                                <img src="assets/images/camera.png" alt="" class="camera_image">
                            </div>
                        </div>
                        <div class="info_block">
                            <div class="info_nickname">@James_K</div>
                            <div class="info_list">
                                <div class="info_item">
                                    <div class="info_icon_element">
                                        <img src="assets/images/shield_tick.png" alt="" class="info_icon_image">
                                    </div>
                                    <div class="info_text">Identity confirmed</div>
                                </div>
                                <div class="info_item">
                                    <div class="info_icon_element">
                                        <img src="assets/images/globus.png" alt="" class="info_icon_image">
                                    </div>
                                    <div class="info_text">RUS, UZ, ENG</div>
                                </div>
                                <div class="info_item">
                                    <div class="info_icon_element">
                                        <img src="assets/images/location.png" alt="" class="info_icon_image">
                                    </div>
                                    <div class="info_text">Uzbekistan</div>
                                </div>
                                <div class="info_item">
                                    <div class="info_icon_element">
                                        <img src="assets/images/phone.png" alt="" class="info_icon_image">
                                    </div>
                                    <div class="info_text">Phone confirmed</div>
                                </div>
                                <div class="info_item">
                                    <div class="info_icon_element">
                                        <img src="assets/images/user_octagon.png" alt="" class="info_icon_image">
                                    </div>
                                    <div class="info_item_block">
                                        <div class="info_item_title">Member since</div>
                                        <div class="info_text">February 2, 2016</div>
                                    </div>
                                </div>
                            </div>
                            <div class="user_account_switcher">
                                <div class="switcher__point">
                                    <img src="assets/images/briefcase.png" alt="" class="switcher_icon">
                                    <div class="switcher_text">Client</div>
                                </div>
                                <div class="switcher__point blue">
                                    <img src="assets/images/brush.png" alt="" class="switcher_icon">
                                    <div class="switcher_text blue">Seller</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_info">
                        <div class="name_tag">
                            <div class="name_text">James Kilroy</div>
                            <img src="assets/images/verificated.svg" alt="" class="tag_icon">
                        </div>
                        <div class="prof_tag">Web Developer, Professional Linkbuilder</div>
                        <div class="status_tag">
                            <div class="status_point"></div>
                            <div class="status_title">Online</div>
                        </div>
                        <div class="about_block">
                            <div class="about_title">About me</div>
                            <div class="about_text">During its work, more than 100 projects of varying levels of complexity were completed. What can I offer you</div>
                            <div class="about_tag">
                                <div class="tag_title">Read full description</div>
                                <img src="assets/images/add_icon.svg" alt="" class="tag_icon">
                            </div>
                        </div>
                        <div class="skills_block">
                            <div class="skills_title">Skills</div>
                            <div class="skills_list">
                                <div class="skills_item">Bitrix24</div>
                                <div class="skills_item">Development on 1C-Bitrix</div>
                                <div class="skills_item">Bitrix24</div>
                            </div>
                        </div>
                        <div class="price_tag">
                            <img src="assets/images/price_icon.svg" alt="" class="price_icon">
                            <div class="price_title">Prices for services</div>
                            <div class="price_add_button">
                                <img src="assets/images/add_icon.svg" alt="" class="price_add_icon">
                            </div>
                        </div>
                        <div class="price_tag">
                            <img src="assets/images/certificate_icon.svg" alt="" class="price_icon">
                            <div class="price_title">Certificates</div>
                            <div class="price_add_button">
                                <img src="assets/images/add_icon.svg" alt="" class="price_add_icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right_block">
                    <div class="button_block">
                        <div class="button_settings">
                            <img src="assets/images/setting_icon.svg" alt="" class="button_icon">
                            <div class="button_title">Settings</div>
                        </div>
                        <div class="button_profile">
                            <div class="button_title">Preview Profile</div>
                        </div>
                    </div>
                    <div class="rating_block">
                        <div class="rating_dislpay">
                            <img src="assets/images/star_icon.svg" alt="" class="rating_icon">
                            <div class="rating_num">5.0</div>
                            <div class="type_rating">Seller</div>
                        </div>
                        <div class="rating_tag">
                            <div class="tag">
                                <div class="tag_text">PRO</div>
                            </div>
                            <div class="tag_text">Highest rating plus</div>
                            <img src="assets/images/info_icon.svg" alt="" class="info_icon">
                        </div>
                    </div>
                    <div class="information_list">
                        <div class="list_item">
                            <div class="info_count">20588</div>
                            <div class="info_title">Orders completed</div>
                        </div>
                        <div class="list_item">
                            <div class="info_count">16360</div>
                            <div class="info_title">Feedback received</div>
                        </div>
                        <div class="list_item">
                            <div class="info_count">100%</div>
                            <div class="info_title">Orders successfully delivered</div>
                        </div>
                        <div class="list_item">
                            <div class="info_count">100%</div>
                            <div class="info_title">Orders delivered on time</div>
                        </div>
                        <div class="list_item">
                            <div class="info_count">55%</div>
                            <div class="info_title">Repeat orders</div>
                        </div>
                    </div>
                    <div class="awards_block">
                        <div class="awards_list">
                            <div class="list_item"></div>
                            <div class="list_item"></div>
                            <div class="list_item"></div>
                            <div class="list_item"></div>
                            <div class="list_item"></div>
                        </div>
                        <div class="awards_text">
                            Show all awards (20)
                        </div>
                    </div>
                </div>
            </div>
            <div class="list_of_main">
                <div class="list_item">
                    <div class="item_image">
                        <img src="assets/images/item_1.svg" alt="" class="image">
                    </div>
                    <div class="item_text">
                        <div class="headline">Services</div>
                        <div class="title">Your current active services</div>
                    </div>
                </div>
                <div class="list_item">
                    <div class="item_image">
                        <img src="assets/images/item_1.svg" alt="" class="image">
                    </div>
                    <div class="item_text">
                        <div class="headline">Services</div>
                        <div class="title">Your current active services</div>
                    </div>
                </div>
                <div class="list_item">
                    <div class="item_image">
                        <img src="assets/images/item_1.svg" alt="" class="image">
                    </div>
                    <div class="item_text">
                        <div class="headline">Services</div>
                        <div class="title">Your current active services</div>
                    </div>
                </div>
                <div class="list_item">
                    <div class="item_image">
                        <img src="assets/images/item_1.svg" alt="" class="image">
                    </div>
                    <div class="item_text">
                        <div class="headline">Services</div>
                        <div class="title">Your current active services</div>
                    </div>
                </div>
                <div class="list_item">
                    <div class="item_image">
                        <img src="assets/images/item_1.svg" alt="" class="image">
                    </div>
                    <div class="item_text">
                        <div class="headline">Services</div>
                        <div class="title">Your current active services</div>
                    </div>
                </div>
            </div>
            <div class="certificate_block">
                <div class="certificate_title">My certificates</div>
                <div class="certificate_list">
                    <div class="certificate_item">
                        <div class="item_image"></div>
                        <div class="item_textes">
                            <div class="item_title">Lorem Ipsum</div>
                            <div class="item_edit">
                                <img src="assets/images/edit_icon.svg" alt="" class="edit_image">
                                <div class="edit_text">Edit</div>
                            </div>
                        </div>
                    </div>
                    <div class="certificate_item">
                        <div class="item_image"></div>
                        <div class="item_textes">
                            <div class="item_title">Lorem Ipsum</div>
                            <div class="item_edit">
                                <img src="assets/images/edit_icon.svg" alt="" class="edit_image">
                                <div class="edit_text">Edit</div>
                            </div>
                        </div>
                    </div>
                    <div class="certificate_item">
                        <div class="item_image"></div>
                        <div class="item_textes">
                            <div class="item_title">Lorem Ipsum</div>
                            <div class="item_edit">
                                <img src="assets/images/edit_icon.svg" alt="" class="edit_image">
                                <div class="edit_text">Edit</div>
                            </div>
                        </div>
                    </div>
                    <div class="certificate_item">
                        <div class="item_image"></div>
                        <div class="item_textes">
                            <div class="item_title">Lorem Ipsum</div>
                            <div class="item_edit">
                                <img src="assets/images/edit_icon.svg" alt="" class="edit_image">
                                <div class="edit_text">Edit</div>
                            </div>
                        </div>
                    </div>
                    <div class="certificate_item">
                        <div class="item_image"></div>
                        <div class="item_textes">
                            <div class="item_title">Lorem Ipsum</div>
                            <div class="item_edit">
                                <img src="assets/images/edit_icon.svg" alt="" class="edit_image">
                                <div class="edit_text">Edit</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="certificate_button">
                    <div class="button_text">Show More</div>
                    <img src="assets/images/add_icon.svg" alt="" class="button_icon">
                </div>
            </div>
            <div class="statistic_block">
                <div class="statistic_container">
                    <img src="assets/images/avatar_small.svg" alt="" class="image">
                    <div class="name">James_K statistics</div>
                    <div class="drop_menu">
                        <div class="menu_title">Show statistic</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer_content">
                <div class="footer_list">
                    <div class="list_headline">About Monday</div>
                    <div class="list_navigation">
                        <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                         <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                         <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                    </div>
                </div>


                <div class="footer_list">
                    <div class="list_headline">About Monday</div>
                    <div class="list_navigation">
                        <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                         <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                         <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                    </div>
                </div>


                <div class="footer_list">
                    <div class="list_headline">About Monday</div>
                    <div class="list_navigation">
                        <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                         <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                         <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                    </div>
                </div>


                <div class="footer_list">
                    <div class="list_headline">About Monday</div>
                    <div class="list_navigation">
                        <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                         <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                         <div class="navigation_item">
                            <div class="item_text">About the project</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_button_block">
                <div class="footer_button">
                    <div class="button_text">Sign In</div>
                </div>
                <div class="footer_button">
                    <div class="button_text">Join</div>
                    <img src="assets/images/join_icon.svg" alt="" class="button_icon">
                </div>
            </div>
        </div>
    </footer>
</main>